body {
  background-color: #000000;
  color: #00FF00;
  font-family: "Courier New", Courier, monospace;
  background-image: url('tu-textura.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #FFFF00;
  text-shadow: 2px 2px #FF0000;
}

a {
  color: #00FFFF;
  text-decoration: underline;
}

a:hover {
  background-color: #FF00FF;
  color: #FFFFFF;
}

.container {
  border: 3px dashed #FF0000;
  padding: 20px;
  margin: 10px;
  background-color: #111111;
}

marquee {
  color: #FF0000;
  font-weight: bold;
  font-size: 20px;
  background: yellow;
}

nav {
  background-color: #222;
  border: 2px solid #00FF00;
  padding: 5px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #00FF00;
  font-weight: bold;
}
